﻿ .Target {
            background: url('http://crm.diaoc247.vn/_Resource/img/muc-tieu-chuan.jpg') no-repeat;
            height: 180px;
            background-size: 100% 100%;
            background-position: center;
        }

        .TargetText {
            font-family: sans-serif;
            width: 100%;
            font-size: 55px;
            margin-top: -5px;
            margin-left: -3px;
            font-weight: bold !important;
            text-align: center;
            color: red;
        }
    </style>
    <style>
        .alert {
            padding: 5px;
        }

        .widget-main {
            padding: 4px !important;
        }

        .itemdiv > .body {
            margin: 0px !important;
        }

        .col-xs-12 {
            padding-left: 10px !important;
            padding-right: 5px !important;
        }

        .col-lg-6 {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        h4 {
            font-size: 30px !important;
        }

        .fa.pull-right {
            margin-left: 0px !important;
        }

        .infobox {
            width: 100% !important;
            border: none !important;
        }