﻿#parent table {

}

#parent td, th {

}

#parent {
    width: 100%;
    height: 450px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
}

    #parent .headcol {
        position: absolute;
        width: 5em;
        left: 0;
        top: auto;
        border-top-width: 1px;
        /*only relevant for first row*/
        margin-top: -1px;
        /*compensate for top border*/
    }

        #parent .headcol:before {
            content: 'Row ';
        }

    #parent .long {
    
    }
