﻿

#discussion::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#discussion::-webkit-scrollbar {
    width: 7px;
    background-color: #eeeeee;
}

#discussion::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}

#noidung {
    font-size: 12px;
}

    #noidung input,
    #noidung textarea,
    #noidung select,
    #noidung .select2-container--default,
    #noidung .select2-selection--single,
    #noidung .select2-container,
    #noidung .select2-selection--single,
    #noidung .select2-selection__rendered,
    #noidung .form-control {
        padding: 0px !important;
        font-size: 12px !important;
        height: 25px;
        border: 0px !important;
        border-radius: 0px !important;
        box-shadow: none !important;
        transition: none !important;
        -webkit-box-shadow: none !important;
        -webkit-transition: none !important;
        -o-transition: none !important;
    }

        #noidung input:focus,
        #noidung select:focus,
        #noidung textarea:focus {
            outline: none !important;
            border-bottom: 1px dotted !important;
            box-shadow: 0 0 10px #719ECE !important;
            transition: none !important;
            -webkit-box-shadow: none !important;
            -webkit-transition: none !important;
            -o-transition: none !important;
        }

    #noidung .highlight {
        background-color: rgba(255, 0, 0, 0.26) !important;
    }

.td5 {
    width: 5%;
}

.td10 {
    width: 15%;
}

.td15 {
    width: 13%;
}

.td200 {
    width: 200px;
}

#noidung .table > tbody > tr > td,
#noidung .table > tbody > tr > th,
#noidung .table > tfoot > tr > td,
#noidung .table > tfoot > tr > th,
#noidung .table > thead > tr > td,
#noidung .table > thead > tr > th {
    vertical-align: middle !important;
    padding: 0px !important;
    padding-left: 4px !important;
    padding-top: 2px !important;
    border-top: 0px !important;
}

#noidung .hr:not(.hr-dotted) {
    background-color: black !important;
}

#noidung .hr {
    margin: 0px !important;
    height: 1px !important;
}

#noidung .table {
    margin-bottom: 0px;
    border: 1px solid black !important;
}

 .highlight {
            background-color: rgba(255, 0, 0, 0.26) !important;
        }

