﻿

body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #eeeeee;
}

body::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}



body {
    font-family: Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma !important;
}

tr td:first-child:not(:detail-row) {
    width: 1%;
    white-space: nowrap;
}

tr td:last-child {
    /*width: 1%;*/
    /*white-space: nowrap;*/
}

.giatien {
    color: #bc1d1d;
    font-weight: bold;
    text-align: right;
}

tbody > tr {
    cursor: pointer;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: url(/template/ace-master/assets/images/Preloader_2.gif) center no-repeat #fff;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        /*white-space: normal;*/
        text-align: left;
    }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        #no-more-tables td:before {
            content: attr(data-title);
        }
}
