﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TopRightMenu.ascx.cs" Inherits="WebApp.Controls.TopRightMenu" %>
<ul class="nav ace-nav">
<%--    <li class="blue dropdown-modal">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-plus"></i>
        </a>
        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="ace-icon fa fa-folder"></i>
                Create
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#mdBoard">
                    <h4 class=""><small>A board.</small></h4>
                    <span>Use it to manage a project, track a collection, or organize anything. </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4 class=""><small>A member.</small> </h4>
                    <span>Use it to create a member. </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4 class=""><small>A Team.</small> </h4>
                    <span>Use it to create a team, group of members. </span>
                </a>
            </li>
        </ul>
    </li>--%>
    <li class="light-blue dropdown-modal">
        <asp:Literal ID="Literal_UserInfo" runat="server"></asp:Literal>        
    </li>
</ul>
