﻿.no {
    width: 5%;
}

.highlight {
    background: #ffff99;
    font-weight: bold;
    font-style: italic;
}

.modal.aside-vc .modal-dialog {
    width: 450px !important;
}

.pika-lendar {
    width: 265px !important;
}

.tongphong {
    background-color: #f8e406;
    font-weight: bold;
}

.tongcongty {
    background-color: #d48b39;
    font-weight: bold;
}

.noidung {
    width: 50%;
}

.phong .nhanvien {
    width: 18%;
}

.number {
    text-align: right;
}

#tbl tr:hover {
    background: #ffff99;
}

#tbl tr:first-child:hover {
    background-color: white;
}

#tbl th {
    background: aliceblue;
    text-align: center;
    vertical-align: middle;
}
