﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TopRightMenu.ascx.cs" Inherits="WebApp.Controls.TopRightMenu" %>
<ul class="nav ace-nav">
    <li class="light-blue dropdown-modal">
        <asp:Literal ID="Literal_UserInfo" runat="server"></asp:Literal>
    </li>
</ul>
