﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebApp.Master" AutoEventWireup="true" CodeBehind="EmployeeView.aspx.cs" Inherits="WebApp.HRM.EmployeeView" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        .profile-info-name {
            width: 150px !important;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPage" runat="server">
    <div class="page-content">
        <div class="page-header">
            <h1>Chi tiết nhân viên
                <asp:Literal ID="txt_EmployeeName" runat="server"></asp:Literal>
                <span class="tools pull-right">
                    <asp:Literal ID="Lit_Button" runat="server"></asp:Literal>
                    <button type="button" class="btn btn-white btn-default btn-bold" onclick="javascript:history.back(); return false;">
                        <i class="ace-icon fa fa-reply blue"></i>
                        Trờ về
                    </button>
                </span>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#info">
                                <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                                Thông tin cá nhân
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#company">
                                <i class="blue ace-icon fa fa-user bigger-110"></i>
                                Công ty
                            </a>
                        </li>
                        <li style="display: none;">
                            <a data-toggle="tab" href="#contact">
                                <i class="blue ace-icon fa fa-phone bigger-110"></i>
                                Liên lạc
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#user">
                                <i class="blue ace-icon fa fa-adjust bigger-110"></i>
                                Tài khoản phần mềm
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="info" class="tab-pane in active">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Giới tính</div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="DDL_Gender" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Ngày sinh</div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_Birthday" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                CMND/Passport
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_IDCard" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Ngày cấp
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_IDDate" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Nơi cấp
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_IDPlace" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Mã số thuế
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_TaxNumber" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Số xe
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_CarNumber" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                ĐT1
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_Phone1" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Email1
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_Email1" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Địa chỉ thường trú
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_Address1" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">
                                                Địa chỉ tạm trú
                                            </div>
                                            <div class="profile-info-value">
                                                <asp:Literal ID="txt_Address2" runat="server"></asp:Literal>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="company" class="tab-pane">
                            <div class="col-xs-12">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Phòng ban</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="DDL_Department" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Quản lý trực tiếp</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="DDL_Manager" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Chức vụ nhân viên</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="DDL_Position" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Cấp độ (Level)</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_Class" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Cấp sử dụng</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_Unit" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Tình trạng</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="DDL_IsWorking" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Ngày vào làm</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_DateStart" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Ngày nghĩ việc</div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_DateEnd" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="contact" class="tab-pane">
                            <div class="col-xs-12">
                                <div class="profile-user-info profile-user-info-striped">
                                </div>
                            </div>
                        </div>
                        <div id="user" class="tab-pane">
                            <div class="col-xs-12">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">
                                            Tên đăng nhập
                                        </div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_User" runat="server"></asp:Literal>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">
                                            Mật khẩu
                                        </div>
                                        <div class="profile-info-value">
                                            <asp:Literal ID="txt_Pass" runat="server"></asp:Literal><a href="#mPasswordBox" data-toggle="modal" class="btn btn-link"><i class="ace-icon fa fa-pencil-square-o orange2 bigger-120"></i>Đổi mật khẩu</a>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">
                                            Ảnh đại diện
                                        </div>
                                        <div class="profile-info-value">
                                            <div class="col-xs-12 col-sm-4">
                                                <asp:Literal ID="Lit_Image" runat="server"></asp:Literal>
                                            </div>
                                            <br />
                                            Click hình để thay đổi ảnh
                                            <br />
                                            Kích thước chuẩn 180x200
                                            <br />
                                            Ảnh sẽ được đổi lại cở 50x50
                                            <br />
                                            <div class="space-6"></div>
                                            <asp:Button ID="btnUploadImage" runat="server" Text="Tải ảnh" OnClick="btnUploadImage_Click" CssClass="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h4 class="widget-title">Thông tin</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-sm-12" id="tableRoles">
                                    <asp:Literal ID="Lit_Info" runat="server"></asp:Literal>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <asp:HiddenField ID="HID_EmployeeKey" runat="server" Value="0" />

    <div class="modal fade modal-default" id="mPasswordBox" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×</button>
                    <h4 class="modal-title">ĐỔI MẬT KHẨU</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_OldPass">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="txt_OldPass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="txt_NewPass">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="txt_NewPass" placeholder="Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary pull-right" data-dismiss="modal" id="btnChangePass">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="script" runat="server">
    <script>
        $(function () {
            $("#myFileImage").change(function () {
                readURL(this);
            });

            $("#btnChangePass").click(function () {
                ChangePass($("#txt_OldPass").val(), $("#txt_NewPass").val());
            });
            $("#btnEdit").click(function () {
                window.location = "EmployeeEdit.aspx?ID=" + Page.getUrlParameter("ID");
            });
        });

        function ChangePass(OldPass, NewPass) {
            $.ajax({
                url: '/Ajax.aspx/ChangePass',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "OldPass": OldPass,
                    "NewPass": NewPass,
                }),
                beforeSend: function (xhr) {
                    console.log(xhr);
                },
                success: function (response) {
                    if (response.d == "ERROR") {
                        Page.showNotiMessageError("Lỗi đổi mật khẩu, vui lòng liên hệ Admin !");
                    }
                    else {
                        Page.showNotiMessageInfo("Đổi mật khẩu thành công !", "...");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                    console.log(thrownError);
                },
                complete: function (response) {
                    console.log(response.result);
                }
            });
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result).height(200).width(180);
                }
                reader.readAsDataURL(input.files[0]);
                $(".ace-file-container").hide();
                $('#preview').show().height(200).width(180);
            }
            else {
                $(".ace-file-container").show();
                $('#preview').hide();
            }
        }
    </script>
</asp:Content>
