﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="WebApp.Chatting.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta http-equiv="refresh" content="2" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:TextBox ID="txtmsg" runat="server" Height="290px" ReadOnly="True" TextMode="MultiLine"
                Width="490px"></asp:TextBox>
        </div>
    </form>
</body>
</html>
