﻿

.direct-chat-text {
    margin: 0px !important;
}

.divTarget {
    border: 1px solid #ff851b;
    border-radius: 10px;
    background: #fff9f1
}

.direct-chat-messages {
    height: 100% !important;
}

.clsNo {
    width: 50px;
}

.clsTime {
    width: 100px;
}

.highlight {
    background-color: #08C;
    color: white;
}

.select2 {
    width: 100% !important;
}

.btnDelete {
    width: 50px;
}

.btnAction {
    width: 100px;
}

.clsContent {
    width: 150px;
}

.clsbtn2 {
    width: 120px;
}

.clsSubtbl {
    width: 100%;
}

    .clsSubtbl > tbody > tr > td {
        padding: 4px;
        vertical-align: top;
    }

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/themes/Preloader_2.gif) center no-repeat #fff;
    display: none;
}

.pthumb {
    width: 56px;
}

.Number {
    text-align: right;
}

.sidebar-form {
    border: 0px !important;
}

    .sidebar-form input[type="text"] {
        border: 1px solid rgba(102, 102, 102, 0.32) !important;
    }

.Sub-header {
    background: rgb(87, 83, 152);
    z-index: 900;
    position: fixed;
    top: 50px;
    width: 100%;
    display: none;
}

    .Sub-header .navbar-custom-menu {
        float: left;
        width: 100%;
    }

        .Sub-header .navbar-custom-menu div {
            height: 55px;
            padding: 5px 5px 0 5px;
        }

        .Sub-header .navbar-custom-menu li a {
            color: white;
        }

            .Sub-header .navbar-custom-menu li a:hover {
                color: #808080;
            }

ul[submenu] {
    background-color: rgba(0, 0, 0, 0.31);
    width: 100%;
}

    ul[submenu] > li {
        /*width: 7%;*/
    }

        ul[submenu] > li > a {
            padding: 12px;
        }

.blink {
    animation: blink-animation 3s steps(5, start) infinite;
    -webkit-animation: blink-animation 3s steps(5, start) infinite;
    /*padding: 3px 6px !important;
            font-size: 14px !important;
            border-radius: 25px !important;*/
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
