﻿  .profile-user-info {
            width: 100% !important;
        }

        .widget-box {
            margin: 0px !important;
        }

        .profile-info-name {
            width: 150px !important;
        }

        #bangphai table th {
            padding: 0px !important;
        }

        #bangphai table th {
            padding: 0px !important;
        }

        #bangphai table td {
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        #bangphai table .td1 {
            width: 10%;
        }

        #bangphai table .td2 {
            width: 15%;
        }

        #bangphai table .td5 {
            width: 15%;
        }

        .widget-main {
            padding: 4px !important;
        }

        .col-xs-6 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .indam {
            font-weight: bolder;
        }