﻿input[type=radio].css-checkbox
{
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox + label.css-label
{
    padding-left: 30px;
    padding-right: 10px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;    
    vertical-align: middle;
    cursor: pointer;
    font-weight:normal;
}

input[type=radio].css-checkbox:checked + label.css-label
{
    background-position: 0 -20px;
}
label.css-label
{
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_98809849d4d88f570f5ad4ce6c2be5b1.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size:20px;    
}
